body {
    font-family: Inria sans;
}

.navbar-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.logo-frag-mal{
    width: 88px;
    height: 88px;
}

.wrapper-main, .wrapper-game {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: none;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.game-link{
    width: 100%;
    text-decoration: none;
}

.main-btn:hover {
    box-shadow: 4px 4px 4px 0.15px rgba(173, 173, 173, 0.2);
}

.main-btn-icon {
    width: 30px;
}

.deep-btn {
    background-color: #8A2BE2;
}

.spicy-btn {
    background-color: #FF5733;
}

.fun-btn {
    background-color: #FFCE00;
}

.shuffle-btn {
    background-color: #89CFF0;
}

.test-container {
    background-color: #8A2BE2;
    color: white;
}

.footer-main {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 10px;
    color: lightgray;
}

